@use "@/src/app/(client)/scss/variables" as *;

#heroSec {
  max-width: 100vw;
  height: 100vh;
  color: $light;
  position: relative;
  background-color: $dark;

  .mySwiper {
    width: 100%;
    height: 100%;

    .swiperSlide-card {
      display: flex;
      justify-content: center;
      align-items: center;

      .bg-container {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;

        .bg {
          position: absolute;
          z-index: 2;
          background-color: $dark;
          inset: 0;
          width: 100%;
          height: 100%;
          opacity: 0.75;
        }

        img {
          object-fit: cover;
          z-index: 1;
        }
      }

      .text-container {
        //margin-top: 350px;
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        p {
          font-size: 2rem;
          font-family: $cookie;
        }

        h2 {
          font-size: 3.4rem;
        }

        button {
          background-color: $light;
          color: $dark;
          padding: 10px 20px;
          border-radius: 100px;
          position: absolute;
          bottom: -130px;
        }
      }
    }
  }

  .info-container {
    position: absolute;
    z-index: 4;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
    padding: 4vw;
    place-content: end;
    row-gap: 10px;
    width: 100%;

    .info {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        $size: 22px;
        width: $size;
        height: $size;
      }

      p {
        display: flex;
        flex-direction: column;
        font-weight: 300;

        span {
          font-weight: 500;
        }
      }
    }
  }
}
