@use "@/src/app/(client)/scss/variables" as *;

header {
  position: fixed;
  max-width: 100vw;
  height: 80px;
  width: 100%;
  padding: 0 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: clip;
  overflow-y: visible;
  z-index: 98;

  .logo-container {
    position: relative;

    width: 140px;
    height: 50px;

    img {
      object-fit: contain;
    }
  }

  #menu {
    color: $light;

    button {
      color: $yellow;
    }

    nav {
      position: absolute;
      top: 0;
      right: -100%;

      background-color: $dark;
      width: 100vw;
      height: 100svh;
      max-width: 100%;
      z-index: 99;

      display: flex;
      flex-direction: column;

      padding: 20px 4vw;
      justify-content: space-between;

      .search-container {
        padding: 0 20px;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;

        input {
          width: 100%;
          background: none;
          border: 1px solid $light;
          height: 35px;
          border-radius: 10px;
          color: $light;
          padding: 0 35px 0 15px;

          &:focus {
            outline: none;
          }
        }
        svg {
          position: absolute;
          right: 30px;
        }
      }

      .logo-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;

        .logo-mark {
          position: relative;
          width: 40px;
          height: 40px;

          img {
            object-fit: contain;
          }
        }
      }

      .links {
        width: 100%;
        padding: 20px;

        a {
          display: block;
          width: 100%;
          height: 60px;
          border-bottom: 1px solid $light;
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          justify-content: space-between;

          svg {
            opacity: 0.25;
            color: $yellow;
          }
        }
      }

      .formButton {
        background-color: $yellow;
        color: $dark;
        margin: 0 20px;
        padding: 10px;
        border-radius: 10px;
      }

      .tel {
        display: flex;
        justify-content: center;
        gap: 10px;

        svg {
          color: $yellow;
        }
      }
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  header {
    #menu {
      .ipad-menu {
        display: flex;
        align-items: center;
        gap: 5vw;

        .search-container {
          display: flex;
          align-items: center;
          position: relative;

          input {
            width: 200px;
            background: none;
            border: 1px solid $light;
            height: 35px;
            border-radius: 10px;
            color: $light;
            padding: 0 30px 0 15px;

            &:focus {
              outline: none;
            }
          }
          svg {
            position: absolute;
            right: 5px;
          }
        }
      }

      nav {
        .links {
          padding: 100px;
        }

        .formButton {
          margin: 0 100px;
        }
      }
    }
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  header {
    padding: 0 12vw;
    .logo-container {
      width: 170px;
      height: 60px;

      //border: 1px dotted $red;
    }
    #menu {
      nav {
        width: 30vw;
        padding: 20px 4vw 40px 4vw;

        .logo-container {
          padding: 0;
        }

        .links {
          padding: 0;
        }

        .formButton {
          margin: 0;
        }
      }
    }
  }
}
