//*----> font
@use "./fonts";

//*----> variables
$roboto: "Roboto", sans-serif;
$cookie: "Cookie", cursive;
$light: #f5f5f7;
$dark: #1d1d1f;
$yellow: #fd8f04;
$red: #fa0001;

/* 
//*---------->> Tablet

@media screen and (min-width: 820px){

}

//*---------->> desktop

@media screen and (min-width: 1025px){

}
 */
