@use "@/src/app/(client)/scss/variables" as *;

.section-body {
    padding: 0 4vw;
    padding-top: 80px;
    font-family: $roboto;

    .header {
        color: $dark;
        margin: 20px 0;

        span {
            color: rgba($color: $dark, $alpha: .5);
        }
    }

    .body {
        p {
            margin: 20px 0;
        }
    }
}

@media screen and (min-width: 1025px) {
    .section-body {
        padding-top: 4vw !important;
        padding: 0 12vw;
    }
}