@use "@/src/app/(client)/scss/variables" as *;

#internationalPackagesSlugHero {
  max-width: 100vw;
  width: 100%;
  height: 40vh;
  height: 40dvh;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 20px 20px;

  .text-container {
    margin-top: 20px;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    color: $light;

    p {
      font-family: $cookie;
      font-size: 1.6rem;
    }

    h2 {
      font-size: 3.4rem;
    }

    h3 {
      padding: 0 20px;
      position: absolute;
      bottom: 20px;
      text-align: center;
    }
  }

  .mySwiper {
    width: 100%;
    height: 100%;
    background-color: $dark;
    background: linear-gradient(90deg, $yellow, $red, $yellow);
    background-size: 200%;
    animation: skeleton 1s infinite linear;

    @keyframes skeleton {
      from {
        background-position: -100% 0;
      }
      to {
        background-position: 100% 0;
      }
    }

    .swiperSlide-card {
      display: flex;
      justify-content: center;
      align-items: center;

      .bg-container {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;

        display: grid;
        place-content: center;

        .bg {
          position: absolute;
          z-index: 2;
          background-color: $dark;
          inset: 0;
          width: 100%;
          height: 100%;
          opacity: 0.6;
        }

        img {
          object-fit: cover;
          z-index: 1;
        }
      }
    }
  }
}

#packageSection {
  max-width: 100vw;
  width: 100%;
  padding: 30px 4vw;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .title-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .title {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
          font-size: 1.4rem;
        }

        .tags {
          display: flex;
          justify-content: space-between;
          align-items: center;

          a {
            background-color: rgba(0, 0, 0, 0.75);
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: bold;
            color: $offLight;
            font-size: 0.8rem;
          }

          p {
            opacity: 0.75;
          }
        }
      }

      .icons {
        display: flex;
        gap: 10px;

        svg {
          $size: 20px;
          width: $size;
          height: $size;
          aspect-ratio: 1 / 1;
          color: $yellow;
        }
      }
    }

    .cta-container {
      box-shadow: 0 0 1px $dark;
      border-radius: 5px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .deal {
        color: $red;
        font-weight: 500;
      }

      p {
        font-size: 0.9rem;
        opacity: 0.75;

        &:nth-of-type(2) {
          margin-top: -5px;
        }
      }

      h4 {
        color: $yellow;
        font-size: 1.6rem;
      }

      button {
        background-color: $yellow;
        width: 100%;
        padding: 10px 0;
        border-radius: 5px;
        color: $light;
      }
    }
  }

  .package-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    ul {
      margin-left: 1rem;
      list-style: disc;

      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    ol {
      margin-left: 1rem;
      list-style-type: decimal;

      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .about-package {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .itinerary {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .itinerary-title {
        padding: 10px;
        border-radius: 5px;
        color: $dark;
        font-size: 1.2rem;
        background-color: rgba(0, 0, 0, 0.025);
      }

      .itinerary-accordion {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .itinerary-accordion-item {
          padding: 0 10px;
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.025);

          .day-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            width: fit-content;

            p {
              color: $red;
            }

            h4 {
              font-size: 0.9rem;
              text-align: left;
              font-weight: 500;
              color: $dark;
            }
          }

          .itinerary-accordion-item-content {
            transition: height 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
          }

          h3 {
            padding: 10px 0;
          }

          .desc {
            border-top: 1px solid $dark;
            padding: 10px 0;
          }

          .content {
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .images-container {
              display: flex;
              gap: 10px;
              overflow-x: scroll;
              padding-bottom: 10px;

              .img-container {
                min-width: 100px;
                height: 100px;
                position: relative;

                @keyframes skeleton {
                  from {
                    background-position: -100% 0;
                  }
                  to {
                    background-position: 100% 0;
                  }
                }

                img {
                  object-fit: cover;
                  border-radius: 5px;
                  background-color: $dark;
                  background: linear-gradient(90deg, $yellow, $red, $yellow);
                  background-size: 200%;
                  animation: skeleton 1s infinite linear;
                }
              }
            }
          }
        }
      }

      svg {
        align-self: flex-start;
        transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
        width: 25px;
        height: 25px;
        color: $dark;
      }

      .szh-accordion__item--expanded {
        svg {
          transform: rotate(180deg);
        }
      }

      button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #internationalPackagesSlugHero {
    .text-container {
      p {
        font-size: 3rem;
      }

      h2 {
        font-size: 4rem;
      }
    }
  }
  #packageSection {
    padding: 40px 8vw;

    .title-container {
      .text-container {
        .title {
          h2 {
            width: 60%;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #internationalPackagesSlugHero {
    height: 80vh;
    height: 80dvh;
  }

  #packageSection {
    padding: 40px 16vw;

    .title-container {
      flex-direction: row;
      justify-content: space-between;

      .text-container {
        width: 60%;

        .title {
          h2 {
            width: 100%;
          }

          .tags {
            justify-content: flex-start;
            gap: 20px;
          }
        }
      }

      .cta-container {
        width: 20%;
      }
    }

    .package-container
      .itinerary
      .itinerary-accordion
      .itinerary-accordion-item {
      padding: 0 20px;
    }

    .package-container .itinerary .itinerary-title {
      padding: 10px 20px;
    }
  }
}
