@use "@/src/app/(client)/scss/variables" as *;

#CustomiseForm {
  position: absolute;
  inset: 0;

  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vw 4vw;
  color: $dark !important;

  .form-container {
    width: 100%;
    height: 100%;
    background-color: $light;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll;
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $dark;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;

    svg {
      color: $red;
    }
  }

  .form-main {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 260px;

      svg {
        height: 200px;
      }
    }

    .right {
      overflow-y: scroll;
      padding-right: 15px;

      form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
          font-size: 0.8rem;
        }

        input,
        textarea {
          width: 100%;
          background: none;
          border: 1px solid $dark;
          border-radius: 5px;
          padding: 0 10px;
          resize: none;

          &:focus {
            outline: none;
            border: 1px solid $yellow;
          }
        }

        input {
          height: 40px;
        }

        textarea {
          padding: 10px;
        }
        .data-container {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        button {
          width: 100%;
          height: 40px;
          background-color: $yellow;
          border-radius: 5px;
          color: $dark;

          &:disabled {
            background-color: rgb(136, 136, 136);
          }
        }
      }
    }
  }
}
