@use "@/src/app/(client)/scss/variables" as *;

#CustomiseForm {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4vw;
  color: $dark !important;
  background-color: rgba(0, 0, 0, 0.25);

  .form-container {
    width: 100%;
    height: 80vh;
    height: 80svh;
    background-color: $light;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll;
    box-shadow: 0px 0px 1px $dark;
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $dark;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;

    .logo-mark {
      width: 30px;
      aspect-ratio: 1 / 1;
      position: relative;
    }

    svg {
      color: $red;
    }
  }

  .form-main {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 260px;

      svg {
        height: 200px;
      }
    }

    .right {
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
          font-size: 0.8rem;
        }

        input,
        textarea {
          width: 100%;
          background: none;
          border: 1px solid $dark;
          border-radius: 5px;
          padding: 0 10px;
          resize: none;
          color: $dark;

          &:focus {
            outline: none;
            border: 1px solid $yellow;
          }
        }

        input {
          height: 40px;
        }

        textarea {
          padding: 10px;
        }

        .data-container {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        button {
          width: 100%;
          height: 40px;
          background-color: $yellow;
          border-radius: 5px;
          color: $dark;

          &:disabled {
            background-color: rgb(136, 136, 136);
          }
        }
      }
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #CustomiseForm {
    padding: 10vh 10vw;
    padding: 10dvh 10vw;

    height: auto;

    .title-container {
      font-size: 0.9rem;
    }

    .form-container {
      height: auto;
    }

    .form-main {
      .left {
        height: 350px;

        svg {
          height: 250px;
        }
      }

      .right {
        form {
          .data-container {
            flex-direction: row;
          }
        }
      }
    }
  }
}

//*---------->> Desktop

@media screen and (min-width: 1025px) {
  #CustomiseForm {
    .form-container {
      width: auto;
      height: auto;
      overflow-y: visible;
    }

    .form-main {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;

      .left {
        width: 60%;
      }

      .right {
        width: 300px;

        form {
          input,
          textarea {
            border: 1px solid rgba(0, 0, 0, 0.5);
          }

          input {
            height: 30px;
          }

          button {
            height: 30px;
          }
        }
      }
    }
  }
}
